<!-- Accordion wrapper -->
<div class="panel-group" id="accordion">

  <!-- Description accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#description">Description</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="description" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:alternative_title,
          label: t('ngdr.fields.alternative_title'),
          html_dl: true) %>
        <%#=
        <!-- This is displayed above the attributes row -->
        # presenter.attribute_to_html(:description, html_dl: true)
        %>
        <%= presenter.attribute_to_html(:complex_person,
          render_as: :nested_person,
          label: t('ngdr.fields.complex_person'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_organization,
          render_as: :nested_organization,
          label: t('ngdr.fields.complex_organization'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:keyword,
          render_as: :faceted,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:subject,
          render_as: :faceted,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:language,
          render_as: :faceted,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:publisher,
          render_as: :faceted,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_date,
          render_as: :nested_date,
          label: t('ngdr.fields.complex_date'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_identifier,
          render_as: :nested_identifier,
          label: t('ngdr.fields.complex_identifier'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:license,
          render_as: :license,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_rights,
          render_as: :nested_rights,
          label: t('ngdr.fields.complex_rights'),
          html_dl: true) %>
        <%#= # presenter.attribute_to_html(:rights_statement,
          render_as: :rights_statement,
          html_dl: true) %>
        <%#= # presenter.attribute_to_html(:rights_notes,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_version,
          render_as: :nested_version,
          label: t('ngdr.fields.complex_version'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:resource_type,
          render_as: :faceted,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_relation,
          render_as: :nested_relation,
          label: t('ngdr.fields.complex_relation'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:source,
          html_dl: true) %>
        <%= presenter.attribute_to_html(:date_created,
          render_as: :linked, search_field: 'date_created_tesim',
          html_dl: true) %>
        <%= presenter.attribute_to_html(:date_modified,
          label: t('hyrax.base.show.last_modified'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:access_right,
          html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Description accordion -->

  <!-- Experimental method accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#experimentalMethod">Experimental method</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="experimentalMethod" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:characterization_methods,
          render_as: :faceted,
          label: t('ngdr.fields.characterization_methods'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:computational_methods,
          render_as: :faceted,
          label: t('ngdr.fields.computational_methods'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:data_origin,
          render_as: :faceted,
          label: t('ngdr.fields.data_origin'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:origin_system_provenance,
          label: t('ngdr.fields.origin_system_provenance'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:properties_addressed,
          render_as: :faceted,
          label: t('ngdr.fields.properties_addressed'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:specimen_set,
          label: t('ngdr.fields.specimen_set'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:synthesis_and_processing,
          render_as: :faceted,
          label: t('ngdr.fields.synthesis_and_processing'),
          html_dl: true) %>
        <%= presenter.attribute_to_html(:custom_property,
          render_as: :nested_custom_property,
          label: t('ngdr.fields.custom_property'),
          html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Experimental method accordion -->

  <!-- Instrument accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#instrument">Instrument</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="instrument" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:complex_instrument,
          render_as: :nested_instrument,
          label: t('ngdr.fields.instrument'),
          html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Instrument accordion -->

  <!-- Specimen type accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#specimenType">Specimen type</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="specimenType" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:complex_specimen_type,
          render_as: :nested_specimen_type,
          label: t('ngdr.fields.complex_specimen_type'),
          html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Specimen type accordion -->

</div>
<!-- Accordion wrapper -->
