<!-- Accordion wrapper -->
<div class="panel-group" id="accordion">

  <!-- Description accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading" data-toggle="collapse" data-target="#description">
      <h4 class="panel-title">
        <a class="accordion-toggle">Description</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="description" class="panel-collapse collapse in">
      <div class="panel-body">
        <% if can? :read_alternative_title, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:alternative_title, label: t('ngdr.fields.alternative_title'), html_dl: true) %>
        <% end %>

        <% if can? :read_identifier, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:doi, label: 'DOI', html_dl: true) %>
        <% end %>

        <% if can? :read_related, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:first_published_url, label: t('ngdr.fields.first_published_url'), html_dl: true) %>
        <% end %>

        <% if can? :read_managing_organization, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:managing_organization, html_dl: true) %>
        <% end %>

        <% if can? :read_creator, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_person, render_as: :nested_person, label: t('ngdr.fields.complex_person'), html_dl: true) %>
        <% end %>
        <% if can? :read_contact_agent, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_contact_agent, render_as: :nested_contact_agent, label: t('ngdr.fields.complex_contact_agent'), html_dl: true) %>
        <% end %>

        <% if can? :read_keyword, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:keyword, render_as: :faceted, html_dl: true) %>
        <% end %>

        <% if can? :read_resource_type, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:resource_type, render_as: :faceted, html_dl: true) %>
        <% end %>

        <%= presenter.attribute_to_html(:data_origin, render_as: :faceted, label: t('ngdr.fields.data_origin'), html_dl: true) %>

        <%= presenter.attribute_to_html(:specimen_set, label: t('ngdr.fields.specimen_set'), html_dl: true) %>

        <% if can? :read_publisher, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:publisher, render_as: :faceted, html_dl: true) %>
        <% end %>
        <% if can? :read_date_published, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:date_published, html_dl: true) %>
        <% end %>

        <% if can? :read_rights, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:rights_statement, render_as: :rights_statement, html_dl: true) %>
          <%#= # presenter.attribute_to_html(:rights_notes, html_dl: true) %>
          <%= presenter.attribute_to_html(:licensed_date, label: t('ngdr.fields.licensed_date'), html_dl: true) %>
        <% end %>

        <% if can? :read_source, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:source, label: "Source", html_dl: true) %>
          <%= presenter.attribute_to_html(:complex_source, render_as: :nested_source, label: t('ngdr.fields.complex_source'), html_dl: true) %>
        <% end %>

        <% if can? :read_manuscript_type, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:manuscript_type, html_dl: true) %>
        <% end %>

        <% if can? :read_event, presenter.model_name.name.constantize %>
           <%= presenter.attribute_to_html(:complex_event, render_as: :nested_event, label: "Event", html_dl: true) %>
        <% end %>

        <% if can? :read_language, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:language, render_as: :faceted, html_dl: true) %>
        <% end %>

        <% if can? :read_date, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:date_created, render_as: :linked, search_field: 'date_created_tesim', html_dl: true) %>
          <%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified'), html_dl: true) %>
          <%= presenter.attribute_to_html(:complex_date, render_as: :nested_date, label: t('ngdr.fields.complex_date'), html_dl: true) %>
        <% end %>

        <% if can? :read_identifier, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_identifier, render_as: :nested_identifier, label: t('ngdr.fields.complex_identifier'), html_dl: true) %>
        <% end %>

        <% if can? :read_version, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_version, render_as: :nested_version, label: t('ngdr.fields.complex_version'), html_dl: true) %>
        <% end %>

        <% if can? :read_related, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_relation, render_as: :nested_relation, label: t('ngdr.fields.complex_relation'), html_dl: true) %>
        <% end %>

        <% if can? :read_funding_reference, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_funding_reference, render_as: :nested_funding_reference, label: t('ngdr.fields.complex_funding_reference'), html_dl: true) %>
        <% end %>

        <%= presenter.attribute_to_html(:custom_property, render_as: :nested_custom_property, label: t('ngdr.fields.custom_property'), html_dl: true) %>

        <%# not used %>
        <% if can? :read_organization, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:complex_organization, render_as: :nested_organization, label: t('ngdr.fields.complex_organization'), html_dl: true) %>
        <% end %>
        <% if can? :read_subject, presenter.model_name.name.constantize %>
          <%= presenter.attribute_to_html(:subject, render_as: :faceted, html_dl: true) %>
        <% end %>
        <%= presenter.attribute_to_html(:license, render_as: :license, html_dl: true) %>
        <%= presenter.attribute_to_html(:access_right, html_dl: true) %>

      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Description accordion -->

  <!-- Method accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading" data-toggle="collapse" data-target="#experimentalMethod">
      <h4 class="panel-title">
        <a class="accordion-toggle">Method</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="experimentalMethod" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:characterization_methods, render_as: :faceted, label: t('ngdr.fields.characterization_methods'), html_dl: true) %>
        <%= presenter.attribute_to_html(:computational_methods, render_as: :faceted, label: t('ngdr.fields.computational_methods'), html_dl: true) %>
        <%= presenter.attribute_to_html(:origin_system_provenance, label: t('ngdr.fields.origin_system_provenance'), html_dl: true) %>
        <%= presenter.attribute_to_html(:properties_addressed, render_as: :faceted, label: t('ngdr.fields.properties_addressed'), html_dl: true) %>
        <%= presenter.attribute_to_html(:synthesis_and_processing, render_as: :faceted, label: t('ngdr.fields.synthesis_and_processing'), html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Method accordion -->

  <!-- Instruments accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading" data-toggle="collapse" data-target="#instrument">
      <h4 class="panel-title">
        <a class="accordion-toggle">Instruments</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="instrument" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:complex_instrument, render_as: :nested_instrument, label: t('ngdr.fields.instrument'), html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Instruments accordion -->

  <!-- Specimen details accordion -->
  <div class="panel panel-default">
    <!-- Accordion header -->
    <div class="panel-heading" data-toggle="collapse" data-target="#specimenType">
      <h4 class="panel-title">
        <a class="accordion-toggle">Specimen details</a>
      </h4>
    </div> <!-- Accordion header -->
    <!-- Accordion body -->
    <div id="specimenType" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= presenter.attribute_to_html(:material_type, label: t('ngdr.fields.material_type'), html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_specimen_type, render_as: :nested_specimen_type, label: t('ngdr.fields.complex_specimen_type'), html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_chemical_composition, render_as: :nested_chemical_composition, label: t('ngdr.fields.complex_chemical_composition'), html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_structural_feature, render_as: :nested_structural_feature, label: t('ngdr.fields.complex_structural_feature'), html_dl: true) %>
        <%= presenter.attribute_to_html(:complex_crystallographic_structure, render_as: :nested_crystallographic_structure, label: t('ngdr.fields.complex_crystallographic_structure'), html_dl: true) %>
      </div> <!-- panel body -->
    </div> <!-- Accordion body -->
  </div> <!-- Specimen details accordion -->

</div>
<!-- Accordion wrapper -->
