<% provide :page_title, @presenter.page_title %>

<% render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 text-center">
            <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? %>
            <%= render 'citations', presenter: @presenter %>
            <%#= render 'social_media' %> <!-- No social media buttons -->
          </div>
          <div class="col-sm-9">
            <%= render 'relationships', presenter: @presenter %>

            <% if can? :read_abstract, @presenter.model_name.name.constantize %>
              <%= render 'work_description', presenter: @presenter %>
            <% end %>
            <%= render 'metadata', presenter: @presenter %>
            <% @presenter.member_presenters.each do |member_presenter| %>
              <%= nims_media_display(member_presenter, datatable: true) if member_presenter&.respond_to?(:csv_or_tsv?) && member_presenter&.csv_or_tsv? %>
            <% end %>
          </div>

          <div class="col-sm-12">
            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%# = render 'sharing_with', presenter: @presenter %>
            <%# = render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
