<h4>Citation Formats</h4>

<span class="citation">
<%= @presenter.creator.first %>.
"<%= @presenter.title.first %>".
<%= setup_pub_source(@presenter) %>
<% if @presenter.date_published.present? %>
(<%= Date.parse(@presenter.date_published&.first).year %>):
<% end %>
<%= @presenter.doi&.first %>
</span>

<br /><br />
