<h4>Citation Formats</h4>

<span class="citation">
<%= @presenter.creator.first %>.
"<%= @presenter.title.first %>".
<%= setup_pub_source(@presenter) %>
(<%= setup_pub_date(@presenter) %>):
<%= @presenter.doi&.first %>
</span>

<br /><br />
