<% if local_assigns[:graph] %>
  <div class="json-preview panel panel-default"
       data-url="<%= main_app.export_file_path(file_set.id)%>"
       data-ele="json-preview-graph-<%= file_set.id %>"
       data-title="<%= file_set.link_name %>"
  >
    <a id="json-preview-panel-<%= file_set.id %>"></a>
    <div class="panel-heading" data-toggle="collapse" data-target="#json-preview-<%= file_set.id %>">
      <h4 class="panel-title">
        <a class="json-preview-title accordion-toggle">Preview: <%= file_set.link_name %></a>
      </h4>
    </div>
    <div id="json-preview-<%= file_set.id %>" class="panel-collapse collapse in">
      <div class="panel-body overflow-scroll">
        <div class="json-preview-error" style="display: none;">There was an error generating the jsonld preview; please download the file instead.</div>
        <div id="json-preview-graph-<%= file_set.id %>" class="json-preview-graph display full-width" style="width:100%"></div>
      </div>
      <div class="panel-footer json-preview-size" style="display: none;">
        <!-- size -->
      </div>
    </div>
  </div>
<% else %>
  <div>
    <a href="#json-preview-panel-<%= file_set.id %>">Preview</a>
  </div>
  <% if Hyrax.config.display_media_download_link? %>
    <div>
      <%= link_to t('hyrax.file_set.show.download'), hyrax.download_path(file_set.id), id: "file_download_"+file_set.id, data: { label: file_set.id }, target: "_new" %>
    </div>
  <% end %>
<% end %>
