<div class="featured-item-title">
  <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
  <div>
    <%= link_to [main_app, featured] do %>
      <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) %>
    <% end %>
  </div>
  <h3>
    <%= link_to [main_app, featured] do %>
      <%= truncate(featured.title.first, length: 17, separator: ' ') %>
    <% end %>
  </h3>
</div>
