<div class="featured-item-title">
  <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
  <div>
    <%= link_to [main_app, featured] do %>
      <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) %>
    <% end %>
  </div>
  <h3>
    <%= link_to [main_app, featured] do %>
      <%= truncate(featured.title.first, length: 17, separator: ' ') %>
    <% end %>
  </h3>
</div>
<div class="featured-field featured-item-depositor">
  <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.depositor_label') %>:</span> <%= link_to_profile featured.depositor(t('hyrax.homepage.featured_works.document.depositor_missing')) %>
</div>
<!--
<div class="featured-field featured-item-keywords">
  <span class="featured-label">
    <%#= # t('hyrax.homepage.featured_works.document.keyword_label') %>:</span>
    <%#= # link_to_facet_list(featured.keyword, 'keyword', t('hyrax.homepage.featured_works.document.keyword_missing')) %>
</div>
-->
